[project]
	description = Zuul V3 sandbox repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group BonnyCI
	owner = group user/Jamie Lennox (jamielennox)
[access "refs/for/refs/*"]
	read = group BonnyCI
	push = group BonnyCI
	label-Code-Review = -2..+2 group BonnyCI
	label-Verified = -1..+1 group BonnyCI
	rebase = group BonnyCI
	removeReviewer = group BonnyCI
	submit = group BonnyCI
[access "refs/heads/*"]
	read = group BonnyCI
	create = group BonnyCI
	push = group BonnyCI
	push = +force group user/Jamie Lennox (jamielennox)
	pushMerge = group BonnyCI
[access "refs/tags/*"]
	push = group BonnyCI
	push = +force group user/Jamie Lennox (jamielennox)
